@model Employee.Models.IndexViewModel

@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Attendance Info";
}
<div class="page-title">@ViewData["Title"]</div>

<div class="control-panel">
    <form method="post" id="form-history" asp-action="Index">
        <select class="select-dm" name="DM" onchange="ViewHistory()" id="department">
            @foreach (var item in Model.departments)
            {
                <option value="@item">Department - @item</option>
            }
        </select>
        <div>
            <select class="date-picker" id="select_year" name="year" onchange="ViewHistory()">
            </select>
            <select class="date-picker" id="select_month" name="month" onchange="ViewHistory()">
            </select>
        </div>
    </form>
    <div onclick="ExportYearReport()" class="btn primary export">Export Report</div>
</div>

<div class="table-container">
    <table class="infoTable">
        <thead>
            <tr id="days">
                <th>Employees</th>
                @foreach(var day in Model.days)
                {
                    <th>@day</th>
                }
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="infoTable">
            @{var i = 1;}
            @foreach(var employee in Model.employees)
            {
                var k = 3;
                <tr>
                    <td>@employee</td>
                @foreach(var day in Model.days)
                {
                    var state = false;
                    var info = "A";
                    var id = 0;
                    var split = day.ToString().Split('.');
                    var date = new DateTime(Convert.ToInt32(split[2]), Convert.ToInt32(split[1]), Convert.ToInt32(split[0]));
                    if (date.DayOfWeek == DayOfWeek.Saturday || date.DayOfWeek == DayOfWeek.Sunday)
                    {
                            <td class="W"></td>
                    }
                    else
                    {
                        @foreach(var history in Model.HistoryInfo)
                        {
                            if(employee.ToString() == history.Employee.ToString() && day.ToString() == history.Date.ToString())
                            {
                                state = true;
                                info = history.State;
                                id = history.Id;
                            }
                        }
                        if(state == true)
                        {
                            <td class="@info" onmousedown="showInfoModal('@id', '@day', '@employee', '@info', '@i', '@k')">@info</td>
                        } else
                        {
                            <td class="@info" onmousedown="showInfoModal('@id', '@day', '@employee', '@info', '@i', '@k')"></td>
                        }
                    }
                        { k++; }
                }
                    <td><i onclick="ExportEmployeeReport('@employee')" class="fas fa-cloud-download-alt"></i></td>
                </tr>
                { i++; }
            }
        </tbody>
    </table>
</div>

<script>
    var g_state = false;
    window.onload = function () {
        showHistory();
    }

    function showHistory() {
        var time = new Date();
        var year = time.getFullYear();
        for (var i = parseInt(year); i >= 2018; i--) {
            $("#select_year").append(`<option value='${i}'>${i}</option>`);
        }
        $("#select_year").val(@Model.selectedYear);
        for (var i = 1; i <= 12; i++) {
            if (i < 10) {
                $("#select_month").append(`<option value='0${i}'>${i}</option>`);
            } else {
                $("#select_month").append(`<option value='${i}'>${i}</option>`);
            }
        }
        var selectedMonth = "";
        if (@Model.selectedMonth <10) {
            selectedMonth = `0${@Model.selectedMonth}`;
        }
        $("#select_month").val(selectedMonth);
        $("#department").val(@Model.selectedDepartment);
    }

    function showInfoModal(id, date, employee, info, line, number) {
        var _line = parseInt(line) * 2 - 1;
        var _number = parseInt(number - 1) * 2 - 1;
        if (document.getElementById("background").classList.contains("none")) {
            g_state = true;
            sessionStorage.setItem("line", line)
            sessionStorage.setItem("_line", _line)
            sessionStorage.setItem("number", number)
            sessionStorage.setItem("_number", _number)
            sessionStorage.setItem("id", id)
            sessionStorage.setItem("date", date)
            sessionStorage.setItem("employee", employee)
            sessionStorage.setItem("info", info)

        } else {
            g_state = false;
        }
    }

    function ViewHistory() {
        $("#form-history").submit();
    }

    function ExportYearReport() {
        var year = $("#select_year").val();
        var dm = $("#department").val();
        var formData = new FormData();
        formData.append("year", year);
        formData.append("DM", dm);
        var x = new XMLHttpRequest();
        x.open("POST", "@Url.Action("ExportYearReport")", "Home", true);
        x.responseType = 'blob';
        x.onload = function (e) {download(x.response, `${year} Year Report(Department - ${dm}).pdf`, "application/pdf"); }
        x.send(formData);
    }

    function ExportEmployeeReport(employee) {
        var year = $("#select_year").val();
        var formData = new FormData();
        formData.append("employee", employee);
        formData.append("year", year);
        var x = new XMLHttpRequest();
        x.open("POST", "@Url.Action("ExportEmployeeReport")", "Home", true);
        x.responseType = 'blob';
        x.onload = function (e) { download(x.response, `${year} Year Report(${employee}).pdf`, "application/pdf"); }
        x.send(formData);
    }

    window.addEventListener("mouseup", function(e) {
        if (document.getElementById("background").classList.contains("none") && g_state == true) {
            document.getElementById("change_info_model").style.left = `${e.x}px`;
            document.getElementById("change_info_model").style.top = `${e.y}px`;
            document.getElementById("change_info_model").classList.replace("none", "flex");
            document.getElementById("background").classList.replace("none", "flex");
        }
    });
</script>
